@model IEnumerable<PhysicianDirectory.Models.Specialization>

@{
    ViewBag.Title = "SpecializationInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SpecializationInformation</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Personal Information", "PersonalInformation")</li>
            <li>@Html.ActionLink("Contact Information", "ContactInformation")</li>
            <li>@Html.ActionLink("Specializations", "SpecializationInformation")</li>
        </ul>
    </div>
</div>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
    </tr>
}

</table>
